@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap");

* {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background: #000000;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  z-index: -999;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 4px;
}